body {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #ccc;
  box-shadow: 1px 2px 2px 1px #eee;
  padding: 5px;
}
/* 
.home {
  margin: 20px;
}
.home > input {
  width: 500px;
  height: 30px;
  font-size: 16px;
}
.home > button {
  height: 35px;
  margin-left: 10px;
  background-color: rgb(54, 185, 236);
  color: white;
}
.home > button:hover {
  background-color: rgb(7, 64, 87);
  cursor: pointer;
} */
